.logo {
  max-width: 1320px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & h1 {
    text-align: left;
    font-size: calc(24px + 42 * (100vw / 1280));
  }

  & h1:first-child {
    padding-top: 10%;
  }
}

@media only screen and (width <= 767px) {
  .logo {
    & h1:first-child {
      padding-top: 20%;
    }
  }
}

@media only screen and (width <= 590px) {
  .logo {
    & h1:first-child {
      padding-top: 30%;
    }
  }
}
