.form {
  font-family: 'Roboto Slab';
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  padding: 42px;
  margin: 45px auto;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-shadow: 8px 4px 44px -4px rgba(88, 98, 105, 0.07);

  & input {
    width: 100%;
    font-size: 18px;
    max-width: 415px;
    display: block;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 15px 14px;
    margin: 10px auto 20px;

    &:focus {
      border: 1px solid #bcbcbc;
      outline: none;
      box-shadow: 0 0 5px #b1b1b1;
    }
  }

  & button {
    padding: 15px 45px;
    font-size: 18px;
    border-radius: 4px;
    color: #ffffff;
    background-color: rgb(62, 116, 79);
  }
}
