.user {
  padding: 30px;
  margin-bottom: 36px;
  border: 1px solid rgba(149, 156, 156, 0.6);
  border-radius: 10px;
  background-color: rgba(239, 249, 249, 0.6);
  box-shadow: 10px 6px 22px 0px rgba(150, 150, 150, 0.62);

  &__header {
    display: flex;
    gap: 0 60px;
    flex-wrap: wrap;
  }

  &__data {
    height: 165px;
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 10px 6px 22px 0px rgba(150, 150, 150, 0.62);
  }

  &__data-subtitle {
    font-weight: 500;
    color: var(--primary-color);
  }

  &__data-group {
    display: flex;
    flex-direction: row;
    gap: 0 12px;
    margin-bottom: 12px;
  }

  &__data-item {
    color: #3f3f3f;
  }

  &__excursions {
    margin: 24px 0;
    font-size: 24px;
    font-weight: 500;
    color: #3f3f3f;
  }

  &__excursions-table {
    margin-top: 24px;
  }
}
