.reviews {
  display: flex;
  flex-direction: column;
  gap: 24 0;
  margin-top: 36px;

  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 0 24px;
  }

  &__avatar {
    & img {
      display: block;
      width: 56px;
      height: 56px;
      max-width: 56px;
      border-radius: 100%;
      border: 1px solid #ccc;
      padding: 2px;
      background-color: #fff;
      text-align: center;
      box-shadow: var(--box-shadow);
    }
  }

  &__form {
    flex: 0 1 875px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__textarea {
    width: 100%;
    height: 120px;
    padding: 16px;
    font-size: 16px;
    color: var(--primary-color);
    border-radius: 4px;
    box-shadow: var(--box-shadow);

    &:focus {
      outline: none;
      box-shadow: var(--box-shadow);
    }
  }

  &__button {
    cursor: pointer;
    padding: 15px 45px;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    background-color: rgb(62 116 79);
    margin-top: 20px;
    box-shadow: 4px 4px 8px 0 rgb(34 60 80 / 20%);
    transition: all 0.3s ease;

    &:hover {
      transform: scale(0.98);
    }
  }

  &__messages {
    max-width: 800px;
    width: 100%;
    margin: 24px auto;
    padding: 16px;
  }

  &__amount {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
  }
}
