.reviews {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  margin-top: 36px;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.form {
  position: relative;
  flex: 0 1 875px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & textarea {
    box-shadow: var(--box-shadow);
  }
}

.avatar {
  & img {
    display: block;
    object-fit: cover;
    width: 56px;
    height: 56px;
    max-width: 56px;
    border-radius: 100%;
    border: 1px solid #ccc;
    padding: 2px;
    background-color: #fff;
    text-align: center;
    box-shadow: var(--box-shadow);
  }
}

.messages {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}

.amount {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
}

.name {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 8px;
}

.contentWrapper {
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.date {
  flex: 0 1 165px;
  font-size: 13px;
  opacity: 0.7;
}

@media screen and (width <= 576px) {
  .wrapper {
    flex-wrap: wrap;
    gap: 20px 24px;
  }
}
