.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 40px 0;
  justify-content: space-between;
  background-image: url('../../../assets/polina-kuzovkova-a86L1wcDqRU-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
}

.mainFirstScreen {
  background-image: url('../../../assets/main-bg.png');
}
