.mainPage {
  &__title-wrapper {
    margin: 0 auto 36px;
    width: fit-content;

    & h3 {
      font-size: calc(16px + 24 * (100vw / 1280));
      margin: 0;
    }
  }

  &__img {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__content {
    padding: 16px;
    margin-bottom: 36px;
    border-radius: 10px;
    background-color: rgba(239, 249, 249, 0.6);
    box-shadow: 10px 6px 22px 0px rgba(150, 150, 150, 0.62);

    & p {
      margin-bottom: 24px;
    }
  }
}
