.excursions {
  &__wrapper {
  }

  &__item {
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(239, 249, 249, 0.4);
    box-shadow: 10px 6px 22px 0px rgba(150, 150, 150, 0.62);

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.item {
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 20px;
  }

  &__date {
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 0 40px;
  }

  &__description {
    margin-bottom: 10px;
  }

  &__image {
    max-width: 200px;
  }

  &__link {
    text-decoration: none;
    color: #000;
    border-radius: 8px;
    padding: 10px 60px;
    background-color: #e6d5a9;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(0.98);
    }
  }
}
