.form {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  padding: 42px;
  margin: 45px auto;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background: rgb(255, 255, 255, 0.4);
  box-shadow: 8px 4px 44px -4px rgba(88, 98, 105, 0.07);

  &__label {
    font-size: 18px;
    font-weight: 600;

    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }

  &__input {
    width: 100%;
    color: var(--primary-color);
    font-size: 18px;
    max-width: 470px;
    display: block;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 15px 14px;
    margin: 10px auto 4px;

    &:focus {
      border: 1px solid #bcbcbc;
      outline: none;
      box-shadow: 0 0 5px #b1b1b1;
    }

    &--error {
      border-bottom: 2px solid #d10303;
    }
  }

  &__error-text {
    color: #d10303;
  }

  &__button {
    cursor: pointer;
    padding: 15px 45px;
    font-size: 18px;
    border-radius: 4px;
    color: #ffffff;
    background-color: rgb(62, 116, 79);
    margin-top: 20px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    transition: all 0.3s ease;

    &:hover {
      transform: scale(0.98);
    }
  }
}
