.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.menuButton {
  display: none;
}

@media screen and (width <= 1078px) {
  .header {
    & a:first-child {
      margin-top: 80px;
    }
  }

  .menuButton {
    cursor: pointer;
    display: block;
    top: 15px;
    right: 15px;
  }

  .menuButtonLine {
    width: 45px;
    height: 5px;
    margin-bottom: 5px;
    background-color: #666761;
    transition: 0.3s;
    transition-timing-function: linear;
  }
}
