.header {
  & .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
    padding: 20px;
  }

  & .logo {
    display: flex;
    align-items: center;
    gap: 0 8px;
    width: 200px;
    height: 100px;
    cursor: pointer;
  }

  .logoText {
    & h1 {
      font-size: 20px;
      text-align: left;
    }
  }

  & .navigation {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px !important;
  }

  & .navigation .active {
    font-weight: 500;
    border-bottom: 2px solid #000;
  }
}

.menuButton {
  display: none;
}

@media screen and (width <= 1078px) {
  .header {
    & .content {
      padding: 0;
    }

    & a:first-child {
      margin-top: 80px;
    }
  }

  .menuButton {
    cursor: pointer;
    display: block;
    top: 15px;
    right: 15px;
    margin: 10px;
  }

  .menuButtonLine {
    width: 45px;
    height: 5px;
    margin-bottom: 5px;
    background-color: #666761;
    transition: 0.3s;
    transition-timing-function: linear;
  }

  .menuButton:hover .menuButtonLine:nth-child(1) {
    animation: slide 1s infinite;
  }

  .menuButton:hover .menuButtonLine:nth-child(2) {
    animation: slide 2s infinite;
  }

  .menuButton:hover .menuButtonLine:nth-child(3) {
    animation: slide 1.4s infinite;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    gap: 30px;

    & a {
      color: inherit;
      text-decoration: underline 0.15em rgba(255, 255, 255, 0);
      transition: text-decoration-color 300ms;
    }

    & a:hover {
      text-decoration-color: #666761;
    }
  }

  @keyframes slide {
    0% {
      width: 45px;
    }

    50% {
      width: 25px;
    }

    100% {
      width: 45px;
    }
  }
}

@media only screen and (max-width: 590px) {
  .header {
    .logoText {
      display: none;
    }
  }
}
