.footer {
  flex-shrink: 0;
  background: rgb(56 56 51 / 60%);
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 45px 20px;

  & .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
  }

  & .navigation {
    display: flex;
    flex-direction: column;

    & a {
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      color: #e7e5e5;
      margin-bottom: 8px;
    }
  }

  & .address {
    & a,
    & p {
      font-size: 16px;
      font-weight: 400;
      color: #e7e5e5;
    }
  }

  & .addressItem {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    flex: 0 1 auto;

    & a {
      & span {
        margin-left: 18px;
      }
    }
  }

  & .school {
    display: flex;
    justify-content: center;
    color: #bbbbb4;
    font-size: 16px;
    font-weight: normal;
    margin: 24px auto 0;
  }
}

@media screen and (width <= 768px) {
  .footer {
    padding-bottom: 40px;

    &__content {
      flex-direction: column;
      align-items: start;
      gap: 24px 0;
    }
  }
}
