.title {
  font-family: Roboto;
  font-weight: 600;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0 auto 36px;
  text-align: center;
  padding: 10px;
  width: fit-content;
  text-shadow: 4px 4px 9px rgb(253 253 253 / 60%);
  border-radius: 4px;
}
