* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Roboto';
  color: var(--primary-color);
}

#root {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  justify-content: space-between;
  background-image: url('./assets/polina-kuzovkova-a86L1wcDqRU-unsplash.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  overflow: auto;
  height: 100vh;
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url('./assets/polina-kuzovkova-a86L1wcDqRU-unsplash.jpg');
  }
}

:root {
  --primary-color: #414339;
  --box-shadow: 10px 6px 22px 0px rgba(150, 150, 150, 0.62);
}
