* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Roboto';
  background-image: url('./assets/polina-kuzovkova-a86L1wcDqRU-unsplash.jpg');
  color: var(--primary-color);
}

#root {
  overflow: auto;
  height: 100vh;
}

:root {
  --primary-color: #414339;
  --box-shadow: 10px 6px 22px 0px rgba(150, 150, 150, 0.62);
}
