* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto';
  background-image: url('../src/assets/bg-blur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  color: var(--primary-color);
}

:root {
  --primary-color: #414339;
  --box-shadow: 10px 6px 22px 0px rgba(150, 150, 150, 0.62);
}
