.review-author {
  display: flex;
  align-items: center;
  gap: 0 12px;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 12px;
  background-color: rgb(239 249 249 / 60%);
  box-shadow: var(--box-shadow);

  &__name {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__contentWrapper {
    width: 100%;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__date {
    opacity: 0.7;
    font-size: 13px;
  }
}
