.review-author {
  display: flex;
  align-items: center;
  gap: 0 8px;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 12px;
  background-color: rgb(239 249 249 / 60%);
  box-shadow: var(--box-shadow);

  &__name {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
  }
}
