.mapWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 24px;
  width: 100%;

  & .map-container {
    max-width: 570px;
    width: 100%;
  }

  & .iframe {
    left: 0 !important;
    max-width: 570px;
    width: 100%;
  }
}
